<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">

<title>Movie Review</title>

<!-- Loading third party fonts -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Loading third party fonts -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<link th:href="@{/web/fonts/font-awesome.min.css}" rel="stylesheet"
	type="text/css">
<!-- Loading main css file -->
<link th:href="@{/web/css/style.css}" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
<link th:href="@{/web/css/datepicker.min.css}" rel="stylesheet"
	type="text/css">
<script th:src="@{/web/js/datepicker.min.js}"></script>

<!-- Include English language -->

</head>
<body>
	<div id="site-content">
		<!-- Navigation -->
		<header class="site-header">
			<div th:replace="common/web/header :: copy-header-menu"></div>
		</header>
		<!-- Page Content -->
		<main class="main-content">
			<div class="container">
				<div class="page">
					<form th:action="@{/descriptionMovie/{id}(id=${movie.id})}"
						id="formSubmit" method="POST">
						<div class="breadcrumbs">
							<a href="index.html">Home</a> <a href="review.html">Movie
								Review</a> <span th:text="${movie.name}"></span>
						</div>

						<div class="content">
							<div class="row">
								<div class="col-md-3">
									<figure class="movie-poster">
										<img th:src="@{${movie.ThumbnailImagePath}}"
											style="width: 300px; height: 350px" alt="#">
									</figure>
								</div>
								<div class="col-md-9">
									<h2 class="movie-title">
										<p th:text="${movie.name}">
									</h2>
									<div class="movie-summary">

										<ul class="movie-meta">

											<li><strong>Thời gian:</strong> <span
												th:text="${movie.length}"> phút</span></li>
											<li><strong>Thể loại:</strong> <span
												th:each="category : ${movie.categories}"> <span
													th:text="${category.name}"></span>,
											</span></li>



											<li><strong>Ngày phát hành: </strong> <span
												th:text="${#calendars.format(movie.startTime,'dd/MM/yyyy')}"></li>
											<li><strong>Thành viên: </strong><span
												th:text="${movie.member}"></span></li>
											<li></li>
											<li>
												<button type="button" class="btn btn-primary center">Đặt
													vé</button>
											</li>
										</ul>
									</div>
								</div>
								<!-- .row -->

							</div>
							<div>
								<button type="button" onclick="myFunction()"
									class="btn btn-primary center">Xem chi tiết</button>
								<span>
									<button type="button" onclick="functionCheck()"
										class="btn btn-primary center">Trailer</button>
								</span>
							</div>
							<div id="content" th:text="${movie.content}"
								style="margin-top: 30px; margin-bottom: 30px"></div>
							<div style="margin-top: 30px; margin-bottom: 30px">
								<iframe id="youtube" width="560" height="315"
									style="display: none"
									th:src="@{https://www.youtube.com/embed/{url}(url=${movie.idYou})}"></iframe>
							</div>
						</div>


						<h3>Lịch chiếu</h3>
						<div class="row">
							<div class='col-sm-3'>
								<div class="form-group">
									<input type='text' id="startDate" name="startDate" value="startDate" onchange="myFunctionTest()"  class="datepicker-here" placeholder="Chọn ngày dạng dd/MM/yyyy" data-language='en' />
								</div>
							</div>
							<div class="col-sm-2"></div>
							<div class="col-sm-3">

								<select id="room_id" name="room_id" style="height: 35px; width: 200px">
									<option value="0">Chọn phòng</option>
									<option th:each="room : ${listRoom}" th:text="${room.name}"
										th:value="${room.id}"></option>
								</select><span id="roomText"></span>
							</div>

						</div>
						<div class="choose-container">

							<div th:each="listSchedule,listTimeSchedule : ${listSchedule}">

								<div class="time-select">
									<div class="time-select__group ">
										<div class="col-sm-4">
											<p class="time-select__place" th:text="${listSchedule.name}"></p>
										</div>
										<ul class="col-sm-8 items-wrap">
											<div th:each="listTime: ${listSchedule.schedule}">
												<li class="time-select__item" th:text="${listTime.time}"></li>
											</div>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!-- .container -->
					</form>
				</div>
			</div>

		</main>
		<!-- Footer -->
		<div th:replace="common/web/footer :: copy-footer-web"></div>
	</div>
	<!-- Bootstrap core JavaScript -->
	<script>
		$(document).ready(function() {
			document.getElementById("youtube").style.display = "none";
		})

		function myFunction() {
			document.getElementById("youtube").style.display = "none";
			document.getElementById("content").style.display = "block";
		}
		function functionCheck() {
			document.getElementById("youtube").style.display = "block";
			document.getElementById("content").style.display = "none";
		}
	</script>
	<script>
	
	$('#startDate').datepicker({
	    language: 'en',
	    minDate: new Date(),
	    dateFormat: 'dd/mm/yyyy',
	    onSelect: function onSelect() {
	    	document.getElementById("formSubmit").submit();
	    }
	})
		
	
	
	</script>
</body>
	<script th:src="@{/web/js/datepicker.en.js}"></script>
	<script th:src="@{/web/js/jquery-1.11.1.min.js}"></script>
	<script th:src="@{/web/js/plugins.js}"></script>
	<script th:src="@{/web/js/app.js}"></script>
	
</html>