<div th:fragment="listSchedule">
<div class="choose-container">
	<div th:each="listSchedule,listTimeSchedule : ${listSchedule}">
		<div class="time-select">
			<div class="time-select__group ">
				<div class="col-sm-4">
					<p class="time-select__place" th:text="${listSchedule.name}"></p>
				</div>
				<ul class="col-sm-8 items-wrap">
					<div th:each="listTime: ${listSchedule.schedule}">
						<li class="time-select__item" th:text="${listTime.time}"></li>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>